.notificacion-container {
    position: relative;
    margin-left: 0px;
}

.icono {
    font-size: 40px;
    color: rgb(197, 112, 43);
}

.numero-notificaciones {
    position: relative;
    left: -6px;
    background-color: rgb(86, 86, 87);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
}