.barra-gral {
    display: flex;
    background-color: rgba(252, 171, 105, 0.616);
    
}

.barra {
    display: flex;
    color: rgb(255, 246, 240);
}

.barra-brand {
    font-size: 3rem;
    color: rgb(0, 0, 0);
}

.navbar-nav
{
    padding-left: 25px;
    margin-left: 25px;
}

